body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Fundo da pagina principal */
.home-page {

    background-image: url('/images/fundohome.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

     min-height: 100vh;
     width: 100%;
     background-attachment: fixed;
}

/* Navbar */
.navbar {

    padding: 20px;

    display: flex;
    gap: 20px;

    background-color: rgba(255,255,255,0.7);
}

.navbar a {

    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Container central */
.home-container {

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 80vh;
}

/* Título */
.titulo {
    font-size: 100px;
    font-weight: bold;

    color: #2b2b2b;

    text-align: center;

    background: none;

    padding: 0;

    border: none;

    box-shadow: none;
}

/* Subtítulo*/
.subtitulo {
    margin-top: 30px;

    font-size: 35px;

    color: #2b2b2b;

    text-align: center;

    background: none;

    padding: 0;

    border: none;
    box-shadow: none;
}

/* Border título e descrição*/
.hero-box {
    background-image: url('/images/label1.png');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    padding: 120px 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Produtos */
.produtos-container {

    display: flex;

    justify-content: center;

    gap: 40px;

    flex-wrap: wrap;

    padding: 30px;
}

.produto-card {

    width: 300px;

    text-align: center;

    padding: 20px;

    border-radius: 15px;

    background-color: white;

    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.cor {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    border: 1px solid #ccc;
}

/* cores disponíveis */
.preto {
    background-color: black;
}

.branco {
    background-color: white;
    border: 1px solid #999; /* para se ver no fundo branco */
}

.azul {
    background-color: #4da6ff;
}

.verde {
    background-color: #3cb371;
}

.categorias-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
}

.categoria-card {
    width: 280px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
}