<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Categorias</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home-page">

<nav class="navbar">
  <a href="/">Home</a> |
  <a href="/produtos">Produtos</a> |
  <a href="/carrinho">Carrinho</a>
</nav>

<h1>Categorias</h1>

<hr>

<div class="produtos-container">

  <a th:each="cat : ${categorias}"
     th:href="@{'/categorias/' + ${cat.idCategoria}}"
     class="produto-card categoria-card">

    <img th:src="${cat.imagemUrl}"
         alt="Categoria"
         width="250">

    <h3 th:text="${cat.nome}"
        class="categoria-titulo"></h3>

  </a>

</div>

</body>
</html>