<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sucesso</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1> Encomenda realizada com sucesso!</h1>

<hr>

<nav>
  <a href="/">Home</a> |
  <a href="/produtos">Produtos</a> |
  <a href="/categorias">Categorias</a> |
  <a href="/carrinho">Carrinho</a>
</nav>

<hr>

<p>
  Obrigado pela sua compra! A sua encomenda foi registada com sucesso.
</p>

<br><br>

<div style="text-align:center; margin-top:50px;">
  <a href="/" style="
        padding: 15px 30px;
        background-color: black;
        color: white;
        text-decoration: none;
        font-size: 18px;
        border-radius: 8px;
    ">
    Voltar à página principal
  </a>
</div>

</body>
</html>