<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Produto</title>
</head>
<body>

<nav>
  <a href="/">Home</a> |
  <a href="/produtos">Produtos</a> |
  <a href="/categorias">Categorias</a> |
  <a href="/carrinho">Carrinho</a>
</nav>

<hr>

<h1 th:text="${produto.nome}"></h1>

<!-- IMAGEM DO PRODUTO -->
<img
        th:if="${produto.imagens != null and !produto.imagens.isEmpty()}"
        th:src="${produto.imagens[0].imagemUrl}"
        width="350"
        alt="Imagem do Produto">

<br><br>

<p>
  <b>Descrição:</b>
  <span th:text="${produto.descricao}"></span>
</p>

<p>
  <b>Preço:</b>
  <span th:text="${produto.preco}"></span> €
</p>

<p>
  <b>Stock:</b>
  <span th:text="${produto.stock}"></span>
</p>

<p>
  <b>Categoria:</b>
  <span th:text="${produto.categoria.nome}"></span>
</p>

<p>
  <b>Personalizável:</b>

  <span th:if="${produto.personalizavel}">
        Sim
    </span>

  <span th:unless="${produto.personalizavel}">
        Não
    </span>
</p>

<br>

<a th:href="@{'/carrinho/adicionar/' + ${produto.idProduto}}">
  Adicionar ao carrinho
</a>

<br><br>

<a href="/produtos">
  Voltar aos produtos
</a>

</body>
</html>